# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Test

on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Nix
      uses: cachix/install-nix-action@v27
      with:
        extra_nix_config: |
          experimental-features = nix-command flakes
    - name: Setup Cachix
      uses: cachix/cachix-action@v15
      with:
        name: wordweaver
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        skipPush: true
    - name: Install dependencies
      run: |
        nix develop --command bash -c "
          uv sync &&
          uv pip install flake8
        "
    - name: Lint with flake8
      run: |
        nix develop --command bash -c "
          uv run flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics &&
          uv run flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        "
    - name: Test with unittest
      run: |
        nix develop --command uv run python -m unittest discover test
