# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Build

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        python-version: [ 3.13 ]
    steps:
    - uses: actions/checkout@v6
    - name: Install Nix
      uses: cachix/install-nix-action@v31
      with:
        extra_nix_config: |
          experimental-features = nix-command flakes
    - name: Setup Cachix
      uses: cachix/cachix-action@v16
      with:
        name: wordweaver
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        skipPush: true
    - name: Install dependencies
      run: |
        nix develop --command uv sync --extra dev
    - name: Build executable
      run: |
        nix develop --command uv run python -m PyInstaller src/Wordweaver.spec
    - name: Get version for macOS installer
      id: version
      run: |
        echo "value=$(cat VERSION | tr -d '\n')" >> "$GITHUB_OUTPUT"
      if: runner.os == 'macOS'
    - name: Build macOS installer
      uses: akiojin/generate-mac-installer-github-action@v1.0.4
      with:
        output-directory: dist
        root-directory: dist
        bundle-path: Wordweaver.app
        identifier: com.prestonhager.wordweaver
        version: ${{ steps.version.outputs.value }}
      if: runner.os == 'macOS'
    - name: Upload artifacts
      uses: actions/upload-artifact@v6
      with:
        name: wordweaver-${{ matrix.os }}
        path: dist/Wordweaver*
  build-windows:
    # Because windows is *special* and can't use nix :(
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install Python and uv
      run: |
        choco install python --version=3.12.0
        python -m pip install --upgrade pip
        pip install uv
    - name: Install dependencies
      run: |
        uv sync --extra dev
    - name: Install Windows dependencies
      uses: MinoruSekine/setup-scoop@v4.0.2
      with:
        install_scoop: true
        buckets: extras
        apps: nsis
        scoop_update: true
        update_path: true
    - name: Build executable
      run: |
        uv run python -m PyInstaller src/Wordweaver.spec
    - name: Debug - List dist contents
      run: |
        Write-Host "=== Contents of dist/ ==="
        Get-ChildItem -Recurse dist/ | ForEach-Object { $_.FullName }
      if: always()
    # Uncomment to enable interactive SSH debugging:
    # - name: Setup tmate session
    #   uses: mxschmitt/action-tmate@v3
    #   if: failure()
    - name: Build Windows installer
      run: |
        makensis src/wordweaver.nsi
    - name: Upload artifacts
      uses: actions/upload-artifact@v6
      with:
        name: wordweaver-Windows
        path: dist/Wordweaver*
