# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Build

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        python-version: [ 3.12 ]
    steps:
    - uses: actions/checkout@v3
    - name: Install Nix
      uses: cachix/install-nix-action@v27
      with:
        extra_nix_config: |
          experimental-features = nix-command flakes
    - name: Setup Cachix
      uses: cachix/cachix-action@v15
      with:
        name: wordweaver
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        skipPush: true
    - name: Install dependencies
      run: |
        nix develop --command uv sync --extra dev
    - name: Install Windows dependencies
      run: |
        iwr -useb get.scoop.sh -outfile 'install.ps1'
        .\install.ps1 -RunAsAdmin
        scoop update
        scoop bucket add extras
        scoop install nsis
      if: runner.os == 'Windows'
    - name: Build executable
      run: |
        nix develop --command uv run python -m PyInstaller Wordweaver.spec
    - name: Build Windows installer
      run: |
        makensis src/wordweaver.nsi
      if: runner.os == 'Windows'
    - name: Build macOS installer
      uses: akiojin/generate-mac-installer-github-action@v0.1.0
      with:
        output-directory: dist
        root-directory: dist
        bundle-path: Wordweaver.app
        identifier: com.prestonhager.wordweaver
      if: runner.os == 'macOS'
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: wordweaver-${{ matrix.os }}
        path: dist/Wordweaver*